body {
    background-color: var(--whiteColorDeam);
  }
  
  :root {
    --PrimaryColor: rgb(74,  144,  226);
    --secondaryColor: rgb(128,  70,  228);
    --gradientColor: linear-gradient(to right, #3498db, #8e44ad);
    --gradientColorGreen: linear-gradient(to right, #00ff87, #60efff);
    --whiteColor: rgb(255,  255,  255);
    --blackColor: rgb(0,  0,  0);
    --textColor: rgb(51,  51,  51);
    --whiteColorDeam: rgb(248,  248,  248);
    --greyTextColor: rgb(136,  136,  136);
    --inputColor: rgb(236,  240,  241);
    --bodyColor: rgb(245,  245,  245);
    --cardBG: rgb(236,  240,  241);
  }
  
  .profile-container {
    margin-left: 120px;
    margin-right: 20px;
  }
  
  .profile-content {
    padding:  20px;
  }

  /* CSS untuk tata letak kartu profil */
.profile-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.profile-card {
  background-color: var(--whiteColor);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.profile-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-card h3 {
  margin-bottom: 5px;
  color: var(--textColor);
}

.profile-card p {
  color: var(--greyTextColor);
  margin-bottom: 5px;
}

  

/* Aturan media query untuk responsif */
@media screen and (max-width: 740px) {
  .admin-container {
    margin-left: 90px; /* Mengubah margin kiri pada layar kecil */
    margin-right: 30px; /* Mengubah margin kanan pada layar kecil */
  }

  /* Atur padding menjadi 10px pada layar kecil */
  .admin-content {
    padding: 10px;
    margin-right: 20px;
  }

}

@media (max-width: 576px) {
  .admin-container {
    margin-left: 80px;
    margin-right: 30px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}


  